 .u-section-1 {
  background-image: linear-gradient(#1c3e5e, #b3b3b3);
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  margin: 48px 78px 0 66px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 78px 0 66px;
}

.u-section-1 .u-group-1 {
  width: 988px;
  min-height: 289px;
  margin: 10px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 30px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 63px auto 0 78px;
  padding: 10px 76px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -68px auto 0;
  padding: 10px 43px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -16px 73px 0 auto;
  padding: 10px 58px;
}

.u-section-1 .u-image-1 {
  width: 40px;
  height: 40px;
  background-image: url("images/1200px-Official_photo_of_Speaker_Nancy_Pelosi_in_2019.jpg");
  background-position: 50% 50%;
  margin: -85px 356px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 40px;
  height: 40px;
  background-image: url("images/d06HSEqbVAykpglTNr_wYl8OwGlul5w6J8cAhqidVu2hMiRmDy6X7CMMtm4QTk3mykgvKQ3Nhiv5c354ffNrBeLOVpk4eMPmfsE4mpnkCmsJrO8pfIwa_TYE0-.jpeg");
  background-position: 50% 50%;
  margin: -17px 64px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 40px;
  height: 40px;
  background-image: url("images/apple-store.jpg");
  background-position: 50% 50%;
  margin: -40px auto 0 238px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 72px 73px 0 auto;
  padding: 10px 77px 10px 76px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -42px auto 0 78px;
  padding: 10px 37px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -87px auto 0;
  padding: 10px 43px;
}

.u-section-1 .u-image-4 {
  width: 40px;
  height: 40px;
  background-image: url("images/CAF-Blog-What-Is-Freight-Forwarding1.jpg");
  background-position: 50% 50%;
  margin: -64px 356px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 40px;
  height: 40px;
  background-image: url("images/tesla_logo-wallpaper-1024x1024.jpg");
  background-position: 50% 50%;
  margin: 8px 64px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 40px;
  height: 40px;
  background-image: url("images/BR_History_of_the_Fed_funds_rate.jpg");
  background-position: 50% 50%;
  margin: -40px auto 0 238px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -1px auto 0;
  padding: 10px 49px 10px 48px;
}

.u-section-1 .u-image-7 {
  width: 40px;
  height: 40px;
  background-image: url("images/jack_dorsey_reuters_full_1556094427419.JPG");
  background-position: 50% 50%;
  margin: -55px 356px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 28px 61px 0 83px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 36px 583px 0 312px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: -64px 240px 0 655px;
}

.u-section-1 .u-icon-1 {
  width: 45px;
  height: 45px;
  margin: -55px auto 0 240px;
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 45px;
  height: 45px;
  margin: -45px auto 0 586px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 22px 215px 0 658px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: -80px 582px 0 312px;
}

.u-section-1 .u-icon-2 {
  width: 45px;
  height: 45px;
  margin: -54px auto 0 239px;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 45px;
  height: 45px;
  margin: -45px auto 0 586px;
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  margin: 34px 236px 0 658px;
}

.u-section-1 .u-icon-4 {
  width: 45px;
  height: 45px;
  background-image: none;
  margin: -54px 835px 0 auto;
  padding: 4px;
}

.u-section-1 .u-icon-5 {
  width: 45px;
  height: 45px;
  margin: -45px auto 0 591px;
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  margin: -39px 582px 60px 312px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1341px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    background-position: 50% 7.49%;
    width: 940px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 30px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 25px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 25px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -1px;
    margin-right: 493px;
    margin-left: 222px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 150px;
    margin-left: 565px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -191px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 109px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 42px;
    margin-right: 125px;
    margin-left: 693px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 1347px;
    margin-right: 492px;
    margin-left: 222px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -1591px;
    margin-left: 620px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -68px;
    margin-right: 146px;
    margin-left: 568px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 485px;
    margin-right: 701px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -530px;
    margin-left: 343px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -77px;
    margin-right: 603px;
    margin-left: 222px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1373px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 383px;
    margin-left: 112px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 40px;
    margin-left: 455px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 70px;
    margin-right: 15px;
    margin-left: 473px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 355px;
    margin-right: 382px;
    margin-left: 112px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -599px;
    margin-left: 475px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 36px;
    margin-left: 458px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 457px;
    margin-right: 537px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -502px;
    margin-left: 380px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -105px;
    margin-right: 493px;
    margin-left: 112px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1611px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 293px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 315px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 180px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 495px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 293px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 10px;
    margin-right: 292px;
    margin-left: 22px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 179px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -215px;
    margin-left: 282px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -139px;
    margin-right: 0;
    margin-left: 314px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 489px;
    margin-right: 164px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -495px;
    margin-left: 285px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -196px;
    margin-right: 292px;
    margin-left: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1436px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-1 {
    background-position: 8.59% 14.69%;
    background-size: auto 125%;
    min-height: 430px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 23px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 18px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 13px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -95px;
    margin-right: 48px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 13px;
    margin-right: 48px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -155px;
    margin-right: 48px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 132px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 15px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 15px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -42px;
    margin-right: 48px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -152px;
    margin-right: 48px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 17px;
    margin-right: 48px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 73px;
  }

  .u-section-1 .u-image-7 {
    margin-top: -40px;
    margin-right: 48px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 47px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 62px;
    margin-right: 115px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 60px;
    margin-right: 114px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -178px;
    margin-right: 26px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 79px;
    margin-right: 26px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 110px;
    margin-right: 93px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 21px;
    margin-right: 114px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -54px;
    margin-right: 26px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -146px;
    margin-right: 26px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -156px;
    margin-right: 125px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -193px;
    margin-right: 26px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 94px;
    margin-right: 26px;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -178px;
    margin-right: 114px;
    margin-left: 0;
  }
}