 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 121px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 85px;
  margin: -7px -147px 0 160px;
}

.u-section-1 .u-btn-1 {
  width: 100px;
  height: 28px;
  margin-top: 58px;
  position: absolute;
}

.u-section-1 .u-btn-2 {
  width: 100px;
  height: 28px;
  margin-top: 58px;
  margin-left: 118px;
  position: absolute;
}

.u-section-1 .u-btn-3 {
  width: 100px;
  height: 28px;
  margin-top: 58px;
  margin-left: 236px;
  position: absolute;
}

.u-section-1 .u-btn-4 {
  width: 100px;
  height: 28px;
  margin-top: 58px;
  margin-left: 354px;
  position: absolute;
}

.u-section-1 .u-group-1 {
  width: 88px;
  min-height: 28px;
  height: auto;
  margin: -72px auto 0 149px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 8px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 2px 1px 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 37px;
  margin: -28px 772px 0 235px;
}

.u-section-1 .u-image-1 {
  width: 130px;
  height: 73px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -37px auto 0 9px;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 35px;
  margin: 7px 0 0 13px;
}

.u-section-1 .u-btn-6 {
  width: 100px;
  height: 28px;
  margin-top: 58px;
  position: absolute;
  background: #f1c50e;
  display: none;
}

.u-section-1 .u-btn-7 {
  width: 100px;
  height: 28px;
  margin-top: 58px;
  margin-left: 118px;
  position: absolute;
  background: #f1c50e;
  display: none;
}

.u-section-1 .u-btn-8 {
  width: 100px;
  height: 28px;
  margin-top: 58px;
  margin-left: 236px;
  position: absolute;
  background: #f1c50e;
  display: none;
}

.u-section-1 .u-btn-9 {
  width: 100px;
  height: 28px;
  margin-top: 58px;
  margin-left: 354px;
  position: absolute;
  background: #f1c50e;
  display: none;
}

.u-section-1 .u-group-2 {
  width: 127px;
  min-height: 28px;
  height: auto;
  margin: -37px auto 9px 12px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 8px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 89px;
  margin: 2px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: 70px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 682px;
    margin-left: 145px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-2 {
    margin-right: 572px;
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-2 {
    margin-right: 427px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-2 {
    margin-right: 227px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1555px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 367px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-elements-1 {
  width: 94px;
  min-height: 35px;
  margin: 135px auto 0 6px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 0 31px;
}

.u-section-2 .u-icon-1 {
  width: 26px;
  height: 26px;
  margin: -35px 68px 0 0;
  padding: 3px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 367px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 33px auto 0;
}

.u-section-2 .u-group-1 {
  width: 657px;
  min-height: 94px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 44px 15px 0;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-3 {
  margin: 10px 30px 0;
}

.u-section-2 .u-icon-2 {
  width: 49px;
  height: 49px;
  margin: -101px -8px 52px auto;
  padding: 0;
}

.u-section-2 .u-group-2 {
  width: 655px;
  min-height: 126px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px 16px 0;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 10px 30px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 367px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-2 .u-group-3 {
  width: 125px;
  min-height: 110px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 35px 20px 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding-bottom: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px 48px 0 16px;
}

.u-section-2 .u-icon-3 {
  width: 27px;
  height: 27px;
  margin: -28px 13px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-size: 0.875rem;
  width: 93px;
  margin: 12px auto 0;
}

.u-section-2 .u-group-4 {
  width: 125px;
  min-height: 111px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -110px auto 0 20px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px 66px 0 10px;
}

.u-section-2 .u-icon-4 {
  width: 26px;
  height: 26px;
  margin: -30px 12px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-size: 0.875rem;
  margin: 16px 21px 0 10px;
}

.u-section-2 .u-group-5 {
  width: 125px;
  min-height: 110px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 21px auto 0 20px;
}

.u-section-2 .u-container-layout-8 {
  padding-bottom: 0;
}

.u-section-2 .u-icon-5 {
  width: 26px;
  height: 26px;
  margin: 24px 13px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -27px 69px 0 8px;
}

.u-section-2 .u-text-11 {
  font-size: 0.875rem;
  margin: 5px 8px 0;
}

.u-section-2 .u-group-6 {
  width: 125px;
  min-height: 110px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -111px 20px 0 auto;
}

.u-section-2 .u-container-layout-9 {
  padding-bottom: 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px 68px 0 8px;
}

.u-section-2 .u-icon-6 {
  width: 26px;
  height: 26px;
  margin: -27px 16px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-13 {
  font-size: 0.875rem;
  margin: 7px 8px 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 546px;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 546px;
}

.u-section-2 .u-container-layout-11 {
  padding: 0;
}

.u-section-2 .u-text-14 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 14px auto 0;
}

.u-section-2 .u-group-7 {
  width: 277px;
  min-height: 134px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 15px auto 0 16px;
}

.u-section-2 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-7 {
  width: 49px;
  height: 49px;
  margin: -8px -18px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-15 {
  margin: -16px 22px 0 30px;
}

.u-section-2 .u-group-8 {
  width: 277px;
  min-height: 217px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 23px auto 0 16px;
}

.u-section-2 .u-container-layout-13 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-16 {
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-2 .u-icon-8 {
  width: 49px;
  height: 49px;
  margin: -192px -19px 0 auto;
  padding: 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 546px;
}

.u-section-2 .u-container-layout-14 {
  padding: 0 8px;
}

.u-section-2 .u-text-17 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 9px auto 0;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 395px;
  width: 671px;
  margin: 10px -1px 0 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 420px;
  background-image: none;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 517px;
  background-image: none;
}

.u-section-2 .u-container-layout-16 {
  padding: 0;
}

.u-section-2 .u-text-18 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 24px auto 0;
}

.u-section-2 .u-custom-html-2 {
  margin: 30px auto 0;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 517px;
  background-image: none;
}

.u-section-2 .u-container-layout-17 {
  padding: 11px;
}

.u-section-2 .u-text-19 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 17px auto 0;
}

.u-section-2 .u-custom-html-3 {
  margin: 30px auto 0;
}

.u-section-2 .u-icon-9 {
  width: 49px;
  height: 49px;
  margin: -1346px 321px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1325px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-2 .u-group-elements-1 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 308px;
  }

  .u-section-2 .u-group-1 {
    width: 580px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    height: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-2 {
    width: 580px;
    margin-right: 0;
    margin-left: 0;
    height: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 386px;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 12px 8px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 7px;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -7px;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding: 12px 7px;
  }

  .u-section-2 .u-group-6 {
    height: auto;
  }

  .u-section-2 .u-container-layout-9 {
    padding: 12px 8px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 458px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 458px;
  }

  .u-section-2 .u-group-7 {
    width: 313px;
    margin-right: 149px;
    margin-left: 0;
    height: auto;
  }

  .u-section-2 .u-text-15 {
    margin-right: 30px;
  }

  .u-section-2 .u-group-8 {
    width: 313px;
    margin-left: 0;
    height: auto;
  }

  .u-section-2 .u-container-layout-13 {
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 458px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 329px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 353px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 434px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 434px;
  }

  .u-section-2 .u-icon-9 {
    margin-right: 269px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 72px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-group-1 {
    width: 444px;
  }

  .u-section-2 .u-group-2 {
    width: 444px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 351px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-group-7 {
    width: 240px;
    margin-right: 42px;
  }

  .u-section-2 .u-group-8 {
    width: 240px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 248px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 270px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-9 {
    margin-right: 206px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5183px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 608px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 608px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-9 {
    margin-right: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3458px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 552px;
  }

  .u-section-2 .u-group-1 {
    width: 284px;
    min-height: 142px;
    margin-top: 58px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 12px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -106px;
    margin-right: -19px;
    margin-bottom: 0;
  }

  .u-section-2 .u-group-2 {
    width: 284px;
    min-height: 157px;
    margin-top: 18px;
    margin-right: 23px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    font-weight: normal;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 460px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 47px;
    margin-left: 8px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -30px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 7px;
    margin-right: 40px;
    margin-left: 8px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -32px;
    margin-right: 23px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 10px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-right: 54px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-right: 47px;
    margin-left: 12px;
  }

  .u-section-2 .u-icon-6 {
    margin-top: -32px;
    margin-right: 12px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 9px;
    margin-right: 4px;
    margin-left: 12px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 383px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 413px;
  }

  .u-section-2 .u-group-7 {
    width: 275px;
    min-height: 150px;
    margin-right: 35px;
    margin-left: 26px;
  }

  .u-section-2 .u-group-8 {
    width: 275px;
    min-height: 150px;
    margin-top: 20px;
    margin-right: 35px;
    margin-left: 26px;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-top: 27px;
    margin-right: 21px;
    margin-left: 26px;
    font-weight: normal;
  }

  .u-section-2 .u-icon-8 {
    margin-top: -137px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 443px;
  }

  .u-section-2 .u-text-17 {
    font-size: 1rem;
  }

  .u-section-2 .u-custom-html-1 {
    min-height: 383px;
    width: 320px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 383px;
  }

  .u-section-2 .u-icon-9 {
    margin-right: 98px;
  }
}

.u-block-49e1-109:not([data-block-selected]):not([data-cell-selected]),
.u-block-49e1-109:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-49e1-109:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-49e1-109:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-49e1-109:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-49e1-108:not([data-block-selected]):not([data-cell-selected]),
.u-block-49e1-108:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-49e1-108:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-49e1-108:not([data-block-selected]):not([data-cell-selected]).u-block-49e1-108:not([data-block-selected]):not([data-cell-selected]).u-block-49e1-108:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(2) translateX(0px) translateY(0px) !important;
}

.u-block-49e1-108:not([data-block-selected]):not([data-cell-selected]).u-block-49e1-108:not([data-block-selected]):not([data-cell-selected]).u-block-49e1-108:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(2) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-49e1-108:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-49e1-108:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}