 .u-section-1 {
  background-image: url("images/JackDorsey1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 883px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 33px 442px 60px auto;
  padding: 0 38px 0 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 262px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 7px;
    margin-right: 116px;
    padding-right: 17px;
    padding-left: 16px;
  }
}