 .u-section-1 {
  background-image: url("images/Tesla1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 879px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 24px 441px 60px auto;
  padding: 0 38px 0 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 261px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 8px;
    margin-right: 122px;
    padding-right: 12px;
    padding-left: 11px;
  }
}